$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
h1 {
font-family: 'Didact Gothic', sans-serif;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: url("../images/herocancer.jpg") no-repeat top center; 
  -webkit-background-size: 100% ;
  -moz-background-size: 100% ;
  -o-background-size: 100% ;
  background-size: 100% ;
  border-bottom: 1px solid #e5e5e5;
  height: 450px;
  color: #FFF;
}

.box {
  border-radius: 5px;
}

.right-jumbotron{
 height: 450px;
   h1{
    font-size: 5em;
    margin: 0.5em 0;
  };
}

.orange {
  background-color: #EDA800;
  color: #FFF;

}

.white {
  color: #FFF;
}

.green{
  background-color: #00A1AA;
  color: #FFF;
}


.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}


